@using Microsoft.AspNetCore.Mvc.Diagnostics

@{
    ViewData["Title"] = "صفحه مدیریت";
    ViewData["Meta-Title"] = "توضیحات کلی";
}

@section Router
{
    <li><a href="/Admin/"><i class="fa fa-dashboard"></i> خانه</a></li>
    <li class="active">صفحه اصلی</li>
}


<div class="col-xl-12">
    <div class="box box-info">

        <div class="box-header">
            <h3 class="box-title">
                پنل مدیریت
                <small>توضیحات کلی</small>
            </h3>
        </div>
        
        <div class="box-body">
            <blockquote>
                سلام بر شما ، این صفحه اصلی پنل مدیریت است
                در این صفحه اطلاعات کلی مدیریتی در اختیار شما قرار میگیرد که میتوانید برای بهبود عملکرد سایت از آن ها استفاده کنید
            </blockquote>
        </div>

    </div>
</div>