
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">داده های کلی</li>
    <!-- Optionally, you can add icons to the links -->
    <li>
        <a href="/Admin/">
            <i class="fa fa-dashboard"></i> <span>صفحه اصلی</span>
        </a>
    </li>

    <li class="header">مدیریت محتوا</li>
    <li class="treeview" id="sidebar-native">
        <a href="#">
            <i class="fa fa-link"></i> <span>توابع</span>
            <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-controller="Native" asp-action="Index">همه توابع</a></li>
            <li><a asp-controller="Native" asp-action="Create">افزودن تابع</a></li>
        </ul>
    </li>









    <li><a href="#"><i class="fa fa-link"></i> <span>لینک</span></a></li>
    <li><a href="#"><i class="fa fa-link"></i> <span>لینک ۲</span></a></li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-link"></i> <span>چند سطحی</span>
            <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="#">لینک سطح ۱</a></li>
            <li><a href="#">لینک سطح ۱</a></li>
        </ul>
    </li>
</ul>
