
<ul class="sidebar-menu" data-widget="tree">
    <li class="header">داده های کلی</li>
    <!-- Optionally, you can add icons to the links -->
    <li>
        <a href="/Admin/">
            <i class="fa fa-dashboard"></i> <span>صفحه اصلی</span>
        </a>
    </li>

    <li class="header">مدیریت محتوا</li>

    <!-- Natives -->
    <li class="treeview" id="sidebar-native">
        <a href="#">
            <i class="fa fa-link"></i> <span>توابع</span>
            <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-controller="Native" asp-action="Index">همه توابع</a></li>
            <li><a asp-controller="Native" asp-action="Create">افزودن تابع</a></li>
        </ul>
    </li>

    <!-- Native Api Sets -->
    <li class="treeview" id="sidebar-native-api-set">
        <a href="#">
            <i class="fa fa-link"></i> <span>ApiSet</span>
            <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-controller="NativeApi" asp-action="Index">همه Api ها</a></li>
            <li><a asp-controller="NativeApi" asp-action="Create">افزودن ApiSet</a></li>
        </ul>
    </li>

    <!-- Native Categories -->
    <li class="treeview" id="sidebar-native-category">
        <a href="#">
            <i class="fa fa-link"></i> <span>دسته بندی ها</span>
            <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-controller="NativeCategory" asp-action="Index">همه دسته بندی ها</a></li>
            <li><a asp-controller="NativeCategory" asp-action="Create">افزودن دسته بندی</a></li>
        </ul>
    </li>

    <li class="header">تنظیمات عمومی</li>

    <!-- Natives -->
    <li class="treeview" id="sidebar-native">
        <a href="#">
            <i class="fa fa-link"></i> <span>منو</span>
            <span class="pull-left-container">
                <i class="fa fa-angle-right pull-left"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-controller="Menu" asp-action="Index">همه منو ها</a></li>
            <li><a asp-controller="Menu" asp-action="Create">افزودن منو</a></li>
        </ul>
    </li>

</ul>
